<!DOCTYPE html>

<html>
    <head>
        <meta charset = "utf-8">
        <title>Home</title>
        <link rel = "stylesheet" href = "/styles/general.css" type = "text/css">
        <link rel = "stylesheet" href = "/styles/question.css" type = "text/css">
    </head>
    <body>
        <div id = "app">
            <div id = "question"></div>
            <ul id = "comments"></ul>
            <ul id = "answers"></ul>
        </div>
        <script src = "https://cdn.jsdelivr.net/gh/stranothus/create/index.js"></script>
        <script src = "/scripts/question.js"></script>
    </body>
</html>